

.App {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
  color: #333;
}

.selection-container, .review-container, .shipping-container, .payment-container, .confirmation-container {
  margin-bottom: 20px;
}

.kits-list, .review-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.kit-item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kit-item:hover {
  background-color: #f9f9f9;
}

.kit-name {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s ease;
}

.kit-name:hover {
  color: #000;
}

.quantity-input {
  width: 50px;
  text-align: center;
}

.shipping-form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.payment-methods {
  margin-bottom: 20px;
}

.payment-details input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
.selection-container .btn{
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.review-container #back{
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}
.review-container #back:hover{
  background-color: #007bff;
}
.review-container .btn{
  width: 400px;
  padding: 15px;
  margin-left: 100px;
  border-radius: 20px;
  background-color: rgb(57, 252, 39);
  color: #000;
}
.review-container .btn:hover{
  background-color: #007bff;
  color: #fff;
}
.shipping-container #back{
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}
.shipping-container #back{
  background-color: #007bff;
}
.shipping-container .btn{
  width: 400px;
  padding: 15px;
  margin-left: 100px;
  border-radius: 20px;
  background-color: rgb(57, 252, 39);
  color: #000;
}
.shipping-container .btn:hover{
  background-color: #007bff;
  color: #fff;
}
.payment-container #back{
  width: 200px;
  padding: 10px;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}
.payment-container #back:hover{
  background-color: #007bff;
}
.payment-container .btn{
  width: 400px;
  padding: 15px;
  margin-left: 100px;
  border-radius: 20px;
  background-color: rgb(250, 11, 3);
  color: #fff;
}